DJANGO_SECRET_KEY=gere-uma-chave-nova-com-secrets.token_urlsafe
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=lopsystem.com.br,www.lopsystem.com.br
DJANGO_CSRF_TRUSTED_ORIGINS=https://lopsystem.com.br,https://www.lopsystem.com.br
